div.product-grid {
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 3fr;
    grid-column-gap: 30px;
}

ul.filter-list {
    width: 100%;
    padding: 0;
    margin: 0;
    display: block;
    list-style-type: none;
}

li.filter-item {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    width: 100%;
}

li.filter-item a {
    display: block;
    width: 100%;
    height: 100%;
    font-family: "Roboto";
    font-size: 1em;
    font-weight: 300;
    color: #000;
    background-color: #E4E4E4;
    padding: 25px;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
}

li.filter-item a:hover {
    background-color: #cccccc;
}

li.filter-item a:active {
    background-color: #cccccc;
}

ul.product-list {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

li.product-item {
    background: #E4E4E4;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 10px;
    padding: 10px 10px 20px 0;
    margin-bottom: 10px;
}

li.product-item img {
    display: block;
    width: 200px;
    height: 200px;
    margin: 0 auto;
}

div.product-information {
    display: block;
    width: 100%;
    height: 100%;
}

div.product-information h1 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 1.8em;
    margin: 0 0 5px 0;
    padding: 0;
    display: block;
    width: 100%;
}

p.product-category {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 0.9em;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    width: 100%;
}

p.product-description {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.2em;
    margin: 0 0 15px 0;
    padding: 0;
    display: block;
    width: 100%;
}

div.product-information a {
    display: block;
    height: 40px;
    line-height: 40px;
    color: #fff;
    background: #0275d8;
    width: 100px;
    font-family: "Roboto";
    font-weight: 300;
    text-decoration: none;
    font-size: 0.9em;
    text-align: center;
}

