div.info-grid {
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 2fr;
    grid-column-gap: 30px;
    grid-row-gap: 15px;
}

div.info-grid img {
    width: 100%;
    display: block;
}

div.info-details {
    background: #E4E4E4;
    width: 100%;
    display: block;
}

div.info-bar {
    display: block;
    height: 7px;
    width: 100%;
}

div.info-details h1 {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 2em;
    display: block;
    margin: 15px 0 5px 0;
    padding: 0 0 0 15px;
    width: 100%;
}

p.category-info {
    font-family: "Roboto";
    font-weight: 300;
    font-size: 0.9em;
    display: block;
    margin: 0 0 25px 0;
    padding: 0 0 0 15px;
    width: 100%;
}

p.description-info {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1.1em;
    display: block;
    margin: 0;
    padding: 0 70px 0 15px;
    width: 100%;
    box-sizing: border-box;
}

div.product-controls {
    display: grid;
    width: 100%;
    height: 40px;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 10px;
}

a.btn {
    display: block;
    color: #fff;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 0.9em;
    width: 100%;
    height: 100%;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
}

a.btn-buy {
    background: #5cb85c;
}

a.btn-back {
    background: #d9534f;
}