<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Stoom - Home</title>
    <link th:href="@{/css/fonts.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/store.css}" rel="stylesheet"/>
</head>
<body>
<div class="top-bar">
    <div class="nav">
        <h1 class="brand">Stoom</h1>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="/logout">Logout</a>
            </li>
            <li class="nav-item">
                <a href="/library">Library</a>
            </li>
            <li class="nav-item">
                <a href="/store">Store</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 th:text="${loggedUser}" class="header"></h1>
    <div class="store-options-grid">
        <a href="/store/games/all" class="store-option games-option">Games</a>
        <a href="/store/movies/all" class="store-option movies-option">Movies</a>
        <a href="/store/music/all" class="store-option music-option">Music</a>
    </div>
</div>
</body>
</a>
</html>