<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/">
<head>
    <meta charset="UTF-8">
    <title>Stoom - Home</title>
    <link th:href="@{/css/fonts.css}" rel="stylesheet"/>
    <link th:href="@{/css/style.css}" rel="stylesheet"/>
    <link th:href="@{/css/store.css}" rel="stylesheet"/>
</head>
<body>
<p>GOODMORNING MOTHERFUCKER, IT WORKS</p>
<p>MENDING koekeloe</p>

<!--<ul th:each="game : ${allGames}">-->
<!--    <li>-->
<!--        <p th:text="${game.id}" class="p"></p>-->
<!--        <p th:text="${game.name}" class="p"></p>-->
<!--        <p th:text="${game.category}" class="p"></p>-->
<!--        <p th:text="${game.description}" class="p"></p>-->
<!--    </li>-->
<!--</ul>-->
<div class="top-bar">
    <div class="nav">
        <h1 class="brand">Stoom</h1>
        <ul class="nav-items">
            <li class="nav-item">
                <a href="#">Library</a>
            </li>
            <li class="nav-item">
                <a href="/store">Store</a>
            </li>
        </ul>
    </div>
</div>
<div class="container">
    <h1 class="header">Your source of entertainment</h1>
    <div class="store-options-grid">
        <a href="/store/games/all" class="store-option games-option">Games</a>
        <a href="#" class="store-option movies-option">Movies</a>
        <a href="#" class="store-option music-option">Music</a>
    </div>
</div>
</body>
</a>
</html>